---
layout: default-page
---

<div class="container" id="container">
	<div class="projects" id="projects">

		{% for project in site.projects %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  		{% if thecycle == 'odd' %}
		<div class="row">
			<div class="project six columns">
			<a href="{{ project.url | prepend: site.baseurl }}" class="proj-link">
				<div class="info-wrap">
					<div class="project-info">
						<h5>{{ project.type }}</h5>
						<h3>{{ project.title }}</h3>
						<h4>View Project</h4>
					</div>
				</div>
				<div class="project-img" style="background: url(assets/images/project-imgs/project{{ forloop.index }}/main.png);"></div>
			</a>
			</div>
		{% else %}
			<div class="project six columns">
				<a href="{{ project.url | prepend: site.baseurl }}" class="proj-link">
					<div class="info-wrap">
						<div class="project-info">
							<h5>{{ project.type }}</h5>
							<h3>{{ project.title }}</h3>
							<h4>View Project</h4>
						</div>
					</div>
					<div class="project-img" style="background: url(assets/images/project-imgs/project{{ forloop.index }}/main.png);"></div>
				</a>
				</div>
			</div>
		{% endif %}
		{% endfor %}

	</div>
</div>

<!-- <div class="container" id="container">

	<div class="photos" id="photos">
		
		{% assign sorted_photos = site.photos | sort: 'rating', 'last' %}
  		{% for photo in sorted_photos %}
  		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  		{% if thecycle == 'odd' %}
  			<div class="row">
  		{% endif %}

  		<div class="photo six columns">
				<div class="info-wrap">
					<div class="photo-info">
						<h6>{{ photo.title }}</h6>
					</div>
				</div>
				<div class="photo-img" style="background: url(assets/images/photography/{{ photo.image }});"></div>
		</div>
		{% endfor %}

	</div>
</div> -->