---
layout: default-page
---

<div class="container" id="container">
	<div class="projects" id="projects">
		
		{% assign sorted_projects = site.projects | sort: 'project-num', 'last' %}
		{% for project in sorted_projects %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  		{% if thecycle == 'odd' %}
		<div class="row">
			<div class="project six columns">
			<a href="{{ project.url | prepend: site.baseurl }}" class="proj-link">
				<div class="info-wrap">
					<div class="project-info">
						<h5>{{ project.type }}</h5>
						<h3>{{ project.title }}</h3>
						<h4>View Project</h4>
					</div>
				</div>
				<div class="project-img" style="background: url(assets/images/project-imgs/project{{ forloop.index }}/main.png);"></div>
			</a>
			</div>
		{% else %}
			<div class="project six columns">
				<a href="{{ project.url | prepend: site.baseurl }}" class="proj-link">
					<div class="info-wrap">
						<div class="project-info">
							<h5>{{ project.type }}</h5>
							<h3>{{ project.title }}</h3>
							<h4>View Project</h4>
						</div>
					</div>
					<div class="project-img" style="background: url(assets/images/project-imgs/project{{ forloop.index }}/main.png);"></div>
				</a>
			</div>
		</div>
		{% endif %}
		{% endfor %}

	</div>
</div>
