<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">{{ site.a-subheading }}</h3>
                  {{ site.blurb }}
                  <br><br>
                  <a href="/assets/TaylorAnderson--Resume.pdf" class="page-scroll btn btn-xl">Resume (PDF)</a> 
              </div>
              <div class="col-lg-4 text-center">
                <div class= "img-circle"></div>
            </div>
        </div>
      </div>
    </section>