<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <main class="main" aria-label="Content">

	<a href="javascript:void(0)" class="icon">
	<div class="hamburger">
	  <div class="menui top-menu"></div>
	  <div class="menui mid-menu"></div>
	  <div class="menui bottom-menu"></div>
	</div>
	<div class="hamburger-bg"></div>
	</a>

	{% if page.url != "/work.html" %}
		<div class="site-title">{ {{ site.title }} }</div>
	{% endif %}

    <nav class="main-nav">

    <div class="outter-wrapper">
    	<ul class="main-nav-list middle-wrapper">
		    <li><a href="/"><h1>Home</h1></a></li>
		    <li><a href="/work.html"><h1>Work</h1></a></li>
		    <li><a href="/about.html"><h1>About + Contact</h1></a></li>
	  	</ul>
	  	</div>
	</nav>

		
	<div class="main-container animsition">

      {{ content }}

    </div>

    </main>

    {% include foot.html %}

  </body>

</html>
