<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <main class="main" aria-label="Content">

	{% if page.url != "/" %}	
	<a href="javascript:void(0)" class="icon">
	<div class="hamburger">
	  <div class="menui top-menu"></div>
	  <div class="menui mid-menu"></div>
	  <div class="menui bottom-menu"></div>
	</div>
	<div class="hamburger-bg"></div>
	</a>

	{% if page.url != "/work.html" %}
		<div class="site-title">{ taylor anderson }</div>
	{% endif %}
	{% endif %}

    <nav class="main-nav">

    <div class="outter-wrapper">
    	<ul class="main-nav-list middle-wrapper">
		    <li><a href="/"><h2>Home</h2></a></li>
		    <li><a href="/projects.html"><h2>Projects</h2></a></li>
		    <li><a href="/photography.html"><h2>Photography</h2></a></li>
		    <li><a href="/about.html"><h2>About + Contact</h2></a></li>
	  	</ul>
	  	</div>
	</nav>

	<div class="main-container animsition">

      {{ content }}

    </div>

    </main>

    {% include foot.html %}

  </body>

</html>
